[flake8]
ignore = E203, E266, E501, W503
max-line-length = 119
max-complexity = 18
select = B,C,E,F,W,T4,B9
per-file-ignores =
    esque_wire/_base_connection.py:F811
    esque_wire/protocol/serializers/api/__init__.py:F401
    esque_wire/protocol/serializers/__init__.py:F401
    esque_wire/protocol/structs/api/__init__.py:F401
    esque_wire/protocol/structs/__init__.py:F401
    esque_wire/__init__.py:F401
