{% extends "base_module.py.j2" %}
{% block imports %}
from esque_wire.protocol.serializers.generic import EnumSerializer, OptionalEnumSerializer
from esque_wire.protocol.serializers.primitive import int8Serializer, int16Serializer
from esque_wire.protocol.constants import (
    {%- for name in constants.keys() %}
    {{ name }},
    {%- endfor %}
)
{% endblock %}

{% block content %}
    {%- for name, constant in constants.items() %}
{{ name | lower_first }}Serializer =
        {%- if name != "ApiKey" -%}
        EnumSerializer({{ name }}, {{ constant.primitive_type | primitive_serializer }})
        {%- else -%}
        OptionalEnumSerializer({{ name }}, {{ constant.primitive_type | primitive_serializer }})
        {%- endif %}
    {%- endfor %}
{% endblock %}