{% extends "base_module.py.j2" %}

{% block imports %}
from typing import Dict

from .api import (
{%- for api in all_apis %}
    {{ api.latest_schema_pair[Direction.REQUEST].schema.serializer_dict_name() }},
    {{ api.latest_schema_pair[Direction.RESPONSE].schema.serializer_dict_name() }},
{%- endfor %}
)
from .base import BaseSerializer
from .constants import (
{%- for name, constant in constants.items() %}
    {{ name | lower_first}}Serializer,
{%- endfor %}
)
from .generic import (
    ArraySerializer,
    ClassSerializer,
    DummySerializer,
    Schema,
)
from .primitive import (
    booleanSerializer,
    int8Serializer,
    int16Serializer,
    int32Serializer,
    uint32Serializer,
    int64Serializer,
    varIntSerializer,
    varLongSerializer,
    nullableStringSerializer,
    stringSerializer,
    nullableBytesSerializer,
    bytesSerializer,
    recordsSerializer,
)
from ..constants import ApiKey
from ..structs.base import RequestData, ResponseData
from ..structs.api.api_versions_response import ApiVersion
{% endblock %}

{% block content %}
REQUEST_SERIALIZERS: Dict[ApiKey, Dict[int, BaseSerializer[RequestData]]] = {
{%- for api in all_apis %}
    ApiKey.{{ api.api_name }}: {{ api.latest_schema_pair[Direction.REQUEST].schema.serializer_dict_name() }},
{%- endfor %}
}

RESPONSE_SERIALIZERS: Dict[ApiKey, Dict[int, BaseSerializer[ResponseData]]] = {
{%- for api in all_apis %}
    ApiKey.{{ api.api_name }}: {{ api.latest_schema_pair[Direction.RESPONSE].schema.serializer_dict_name() }},
{%- endfor %}
}

SUPPORTED_API_VERSIONS: Dict[ApiKey, ApiVersion] = {
    api_key: ApiVersion(api_key, min(serializers.keys()), max(serializers.keys()))
    for api_key, serializers in REQUEST_SERIALIZERS.items()
}
{% endblock %}