{% extends "base_module.py.j2" %}
{% block imports %}
from .protocl.structs import (
{%- for api in all_apis %}
    {%- for direction in Direction %}
{{ api.latest_schema_pair[direction].schema.name }},
    {%- endfor %}
{%- endfor %}
)
from connection import BrokerConnection
{% endblock %}