{%- macro type_serializer(type_def, version=0) -%}
    {%- if type_def.field_type == FieldType.ARRAY -%}
        ArraySerializer({{ type_serializer(type_def.element_type, version) }})
    {%- elif type_def.field_type == FieldType.STRUCT -%}
        {{ type_def.type_hint | lower_first }}Serializers[{{ version }}]
    {%- else -%}
        {{ type_def.field_type | primitive_serializer }}
    {%- endif -%}
{%- endmacro -%}

{%- macro create_schema(latest_struct, current_struct, api_version) -%}
[
            {%- for field in current_struct.fields %}
                {%- if field.name in latest_struct.field_names %}
        ("{{ field.name }}", {{ type_serializer(field.type_def, api_version) }}),
                {%- else %}
        (None, {{ type_serializer(field.type_def, api_version) }}),
                {%- endif %}
            {%- endfor %}
            {%- for field in latest_struct.fields %}
                {%- if field.name not in current_struct.field_names %}
        ("{{ field.name }}", DummySerializer(
                    {%- if field.has_default -%}
                        {{- field.default | repr -}}
                    {%- else -%}
                        {{- type_serializer(field.type_def, api_version) }}.default
                    {%- endif -%}
        )),
                {%- endif %}
            {%- endfor %}
    ]
{%- endmacro -%}

{%- macro schema_dict_name(struct) -%}
{{ struct.name | lower_first }}Schemas
{%- endmacro -%}

{%- macro serializer_dict_name(struct) -%}
{{ struct.name | lower_first }}Serializers
{%- endmacro -%}

{%- block header -%}
##############################################
# Autogenerated module. Please don't modify. #
##############################################
{% endblock %}

{%- block imports %}
{%- endblock %}

{%- block content %}
{%- endblock %}