{% extends "base_module.py.j2" %}
{% block imports %}
{%- for api in all_apis %}
    {%- for direction in Direction %}
from .{{ api.api_name.lower() }}_{{ direction.name.lower() }} import {{ api.latest_schema_pair[direction].schema.name }}
    {%- endfor %}
{%- endfor %}
{% endblock %}